.DS_Store
node_modules
/dist
/Documentation


# local env 
# Vue que la base de donnée est en local je me permet de laisser le .env



# Log 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editeur
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/dist/background.jpg
frontend/dist/favicon.ico
frontend/dist/index.html
frontend/dist/css/app.66d5f144.css
frontend/dist/css/chunk-00a3f990.03d867dd.css
frontend/dist/css/chunk-25adc4ae.9039a7a2.css
frontend/dist/css/chunk-35ac5a5a.9039a7a2.css
frontend/dist/css/chunk-dadcfb30.9039a7a2.css
frontend/dist/css/chunk-dc77785c.9039a7a2.css
frontend/dist/img/background.d5aa8994.jpg
frontend/dist/img/icon-white-navbar.edd5a02c.png
frontend/dist/img/icon.69b45ada.png
frontend/dist/js/app.24b47a54.js
frontend/dist/js/app.24b47a54.js.map
frontend/dist/js/chunk-00a3f990.42efe27e.js
frontend/dist/js/chunk-00a3f990.42efe27e.js.map
frontend/dist/js/chunk-2d0b9f47.308ba276.js
frontend/dist/js/chunk-2d0b9f47.308ba276.js.map
frontend/dist/js/chunk-2d0d9f9e.c274b3db.js
frontend/dist/js/chunk-2d0d9f9e.c274b3db.js.map
frontend/dist/js/chunk-2d2086b7.8b20af46.js
frontend/dist/js/chunk-2d2086b7.8b20af46.js.map
frontend/dist/js/chunk-2d2172fb.ac3b810b.js
frontend/dist/js/chunk-2d2172fb.ac3b810b.js.map
frontend/dist/js/chunk-15d50d24.24a563fc.js
frontend/dist/js/chunk-15d50d24.24a563fc.js.map
frontend/dist/js/chunk-25adc4ae.d55ba51d.js
frontend/dist/js/chunk-25adc4ae.d55ba51d.js.map
frontend/dist/js/chunk-35ac5a5a.f0981c98.js
frontend/dist/js/chunk-35ac5a5a.f0981c98.js.map
frontend/dist/js/chunk-2570f1d2.5f1a679e.js
frontend/dist/js/chunk-2570f1d2.5f1a679e.js.map
frontend/dist/js/chunk-dadcfb30.9bb1dc2d.js
frontend/dist/js/chunk-dadcfb30.9bb1dc2d.js.map
frontend/dist/js/chunk-dc77785c.4e1c7ceb.js
frontend/dist/js/chunk-dc77785c.4e1c7ceb.js.map
frontend/dist/js/chunk-vendors.bf5b368b.js
frontend/dist/js/chunk-vendors.bf5b368b.js.map
frontend/package-lock 2.json
